@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Welcome to Tower Dreams Psychotherapy Centre, we aim to provide a clinical psychotherapy and counselling service for individuals and families. </p>
</div>

<div class="row">
    <div class="col-md-10">
        <h2>Refer to our service</h2>
        <p>
       
        </p>
</div>
</div>